@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import "tailwindcss";
/* src/fonts.css */

@layer utilities {
  .logoFont {
    font-family: "MonteCarlo", cursive;
  }

  .sidenavLinks {
    @apply flex items-center justify-center sm:justify-normal gap-4 hover:bg-gray-200 dark:hover:bg-slate-900 sm:pl-2 py-3 rounded-2xl sm:pr-5 sm:w-50 w-fit
  }
}

.sidenavLinks>li {
  @apply sm:block hidden;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') theme('colors.gray.100');
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.gray.100');
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.gray.400');
    border-radius: 5px;
    border: 2px solid theme('colors.gray.100');
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: theme('colors.gray.600');
  }

  @media (prefers-color-scheme: dark) {
    .custom-scrollbar {
      scrollbar-color: #444 #1e1e1e;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: #1e1e1e;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #444;
      border: 2px solid #1e1e1e;
    }

    .custom-scrollbar:hover::-webkit-scrollbar-thumb {
      background: #666;
    }
  }
}
